@inherits LayoutComponentBase

<MudThemeProvider @bind-IsDarkMode="_isDarkMode" />
<MudPopoverProvider />
<MudDialogProvider FullWidth="true"
                   MaxWidth="MaxWidth.ExtraSmall"
                   CloseButton="true"
                   BackdropClick="false"
                   NoHeader="true"
                   Position="DialogPosition.Center"
                   CloseOnEscapeKey="true"
                   BackgroundClass="my-custom-class" />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Elevation="1" Color="@(_isDarkMode ? Color.Dark : Color.Inherit)">

        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@DrawerToggle" />

        <a href="https://nirusolutions.de/" target="_blank" rel="noopener noreferrer">
            <MudText Typo="Typo.h5" Class="logo-container">
                <img src="assets/logo2.png" alt="CompanyToolbox Logo" class="logo-image" />
            </MudText>
        </a>

        <MudSpacer />

        @*    <MudLink Href="/" Style="text-decoration: none;">
            <MudText Typo="Typo.h6" Align="Align.Left" Style="color: white;">CompanyToolBox</MudText>
        </MudLink> *@

        <MudSpacer />

        <MudIconButton Icon="@Icons.Material.Filled.Mail" Color="Color.Inherit" />

        <MudIconButton Icon="@Icons.Material.Filled.Language" Color="Color.Inherit" />

        <MudIconButton Icon="@Icons.Material.Filled.Person" Color="Color.Inherit" />
        <LoginOrLogoutIconButton CurrentUrl="_currentUrl" />
        <MudIconButton Icon="@(_isDarkMode ? Icons.Material.Filled.DarkMode : Icons.Material.Filled.LightMode)"
        Color="Color.Inherit" OnClick="@ToggleDarkMode" />

    </MudAppBar>

    <MudDrawer @bind-Open="_drawerOpen" ClipMode="DrawerClipMode.Always" Elevation="2">
        <NavRebuild />
    </MudDrawer>

    <div class="content-wrapper">
        <MudMainContent>
            <ErrorBoundary>
                <ChildContent>
                    @Body
                </ChildContent>
                <ErrorContent>

                    <MudContainer MaxWidth="MaxWidth.Large" Class="text-center">
                        <MudPaper Elevation="4" Class="p-4">
                            <MudText Typo="Typo.h4" Class="mb-3">Oops! Something went wrong.</MudText>
                            <MudText Class="mb-4">We encountered an error while processing your request. Please try again later.</MudText>
                        </MudPaper>
                    </MudContainer>

                </ErrorContent>
            </ErrorBoundary>
        </MudMainContent>
    </div>
</MudLayout>

@code {
    private bool _drawerOpen = true;
    private bool _isDarkMode = true;

    private void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }

    private void ToggleDarkMode()
    {
        _isDarkMode = !_isDarkMode;
    }
  
    
}
